<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold text-center my-8">Shopping Cart</h1>
  <% if @cart.present? %>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead>
          <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="py-3 px-6 text-left">Product</th>
            <th class="py-3 px-6 text-center">Quantity</th>
            <th class="py-3 px-6 text-right">Price</th>
            <th class="py-3 px-6 text-right">Total</th>
            <th class="py-3 px-6 text-center">Actions</th>
          </tr>
        </thead>
        <tbody class="text-gray-700 text-sm font-light">
          <% @products.each do |product| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left">
                <div class="flex items-center">
                  <div class="mr-2">
                    <% if product.image.attached? %>
                      <img src="<%= url_for(product.image) %>" alt="<%= product.name %>" class="w-12 h-12 object-cover rounded-lg">
                    <% end %>
                  </div>
                  <span><%= product.name %></span>
                </div>
              </td>
              <td class="py-3 px-6 text-center">
                <%= form_with url: update_item_cart_path, method: :post, local: true do |f| %>
                  <%= f.hidden_field :product_id, value: product.id %>
                  <%= f.number_field :quantity, value: @cart[product.id.to_s], min: 1, class: 'w-16 mr-2' %>
                  <%= f.submit 'Update', class: 'bg-blue-500 text-white py-1 px-2 rounded-lg hover:bg-blue-700' %>
                <% end %>
              </td>
              <td class="py-3 px-6 text-right">
                <span><%= number_to_currency(product.price) %></span>
              </td>
              <td class="py-3 px-6 text-right">
                <span><%= number_to_currency(product.price * @cart[product.id.to_s]) %></span>
              </td>
              <td class="py-3 px-6 text-center">
                <%= button_to 'Remove', remove_item_cart_path(product_id: product.id), method: :post, class: 'bg-red-500 text-white rounded-lg py-2 px-4 hover:bg-red-700' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="mt-8 flex justify-center">
      <%= link_to 'Proceed to Checkout', new_checkout_path, class: 'inline-block bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-700' %>
    </div>
  <% else %>
    <p class="text-center text-gray-700">Your cart is empty.</p>
  <% end %>
  <div class="mt-8 flex justify-center">
    <%= link_to 'Continue Shopping', products_path, class: 'inline-block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-700' %>
  </div>
</div>
