<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold text-center my-8">Checkout</h1>

  <%= form_with url: checkout_path, method: :post, local: true do |form| %>
    <div class="mb-4">
      <%= form.label :name, "Name" %>
      <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :email, "Email" %>
      <%= form.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :address, "Address" %>
      <%= form.text_area :address, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :province, "Province" %>
      <%= form.select :province, options_from_collection_for_select(Tax.all, "id", "province"), prompt: "Select Province", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <%= form.submit "Place Order", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% end %>

  <div class="mt-8 flex justify-between">
    <%= link_to 'Back to Cart', cart_path, class: 'inline-block bg-yellow-500 text-white py-2 px-4 rounded-lg hover:bg-yellow-700' %>
    <%= link_to 'Continue Shopping', products_path, class: 'inline-block bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-700' %>
  </div>
</div>
