<!DOCTYPE html>
<html lang="en">
<head>
  <title>HappyLand Corp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    main {
      flex: 1;
    }
  </style>
</head>

<body class="bg-gray-100 text-gray-900">
  <%= render 'layouts/header' %>

  <main class="container mx-auto px-4 py-8">
    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>

  <script>
    document.getElementById('menu-toggle').addEventListener('click', function() {
      var menu = document.getElementById('mobile-menu');
      if (menu.classList.contains('hidden')) {
        menu.classList.remove('hidden');
      } else {
        menu.classList.add('hidden');
      }
    });
  </script>
</body>
</html>
